:host {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
section {
width: 200%;
background-color: 
#fafcfc;
}
section > header {
color: #470255;
padding: 8px;
}
section > header > h1 {
font-size: 2em;
}
section > header .description {
font-style: italic;
}
