* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans";
  background: #8785eb;
  color: #ecf0f1;
  line-height: 1.618em;
}
.wrapper {
  max-width: 70rem;
  width: 100%;
  margin: 0 auto;
}
.tabs {
  position: relative;
  margin: 3rem 0;
  /* background: #fcfdfd; */
  height: 20.75rem;
}
.tabs::before,
.tabs::after {
  content: "";
  display: table;
}
.tabs::after {
  clear: both;
}
.tab {
  float: left;
}
.tab-switch {
  display: none;
}
.tab-label {
  position: relative;
  display: block;
  line-height: 2.75em;
  height: 3em;
  padding: 0 1.618em;
  background: #60b8e0;
  border-right: 0.125rem solid #60b8e0;
  color: #fff; 
  cursor: pointer;
  top: 0;
  transition: all 0.25s;
}
.tab-label:hover {
  top: -0.25rem;
  transition: top 0.25s;
}
.tab-content {
  height: 20rem;
  position: absolute;
  z-index: 1;
  top:2.75em;
  left: 0;
  padding: 1.618rem;
   background: #fff; 
  color: #2c3e50;
  border-bottom: 0.25rem solid #bdc3c7;
  opacity: 0;
  transition: all 0.35s;
}
.tab-switch:checked + .tab-label {
  background: #fff; 
  color: #1447d3;
  border-bottom: 0;
  border-right: 0.125rem solid #fff;
  transition: all 0.35s;
  z-index: 1;
  top: -0.0625rem;
}
.tab-switch:checked + label + .tab-content {
  z-index: 5;
  opacity: 1;
  transition: all 2.35s;
}
.styled-table {
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
 
}
.styled-table thead tr {
  background-color: #7ec6e2;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
  border: 1px solid rgb(190,190,190);
    padding: 10px 75px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #55e2c6;
}
.styled {
  border: 0;
  line-height: 2;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: #739acc;
  background-image: linear-gradient(to center,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
  background-color: #669cda;
}

.styled:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}

