
 <div class="wrapper">  
  <div class="tabs">
    <div class="tab">
      <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
      <label for="tab-1" class="tab-label">Calendrier</label>
      <div class="tab-content">  <table class="styled-table">
        <thead>
            <tr >  
                <th>Lundi</th>
                <th>Mardi</th>
                <th>Mercredi</th>
                <th>Jeudi</th>
                <th>Vendredi</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Dom</td>
                <td>6000</td>
                <td>molka</td>
                <td>mihoub</td>
                <td>melissa</td>
            </tr>
            <tr class="active-row">
                <td>Melissa</td>
                <td>5150</td>
                <td>Melissa</td>
                <td>5150</td>
                <td>molka</td>
            </tr>
        </tbody>

    </table>
   </div>
    </div>
    
    <div class="tab">
      <input type="radio" name="css-tabs" id="tab-2" class="tab-switch">
      <label for="tab-2" class="tab-label">Liste</label>
      <div class="tab-content"> useful to those who intend to travel my fortune to do. </div>    
  </div>
    <div class="tab">
      <input type="radio" name="css-tabs" id="tab-3" checked class="tab-switch">
      <label for="tab-3" class="tab-label">Statistiques</label>
      <div class="tab-content"> with whom I continued four years. </div>
    </div>
    <div class="tab">
      <input type="radio" name="css-tabs" id="tab-4" class="tab-switch">
      <label for="tab-4" class="tab-label">Configuration</label>
      <div class="tab-content"> </div>
    </div>
  </div>
 

  <!-- <button class="favorite styled"  
        type="button"  onclick="window.location='session-add.component.html'">
    Ajouter
 </button>  -->
<!-- <a href="session-add.component.html" target="_blank"><button>Ajouter</button></a> -->

<!-- <button onclick="window.location.href = './formulaire.component.html'">Cliquez Ici</button> -->
<!-- <a href="app/session-add.component.html" target="_blank" > -->
  <!-- <a href='./formulaire.component.html' target="=_blank"> -->
  <!-- <input type="button" class="favorite styled" value="Ajouter">  -->
<!-- </a>  -->

<nav class="navbar navbar-default"> 
  <a href="./formulaire.component.html" target="=_blank">
  <button>Ajouter</button>
  </a>
   </nav>  

</div> 


